<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<title>Categor&iacute;a</title>
	</head>
	<body>
		<div class="container">

			<h1>Categor&iacute;a</h1>
			<div class="row">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr class="active">
								<td><button id="btnCategoriaInsertar" type="button" class="btn btn-success">Insertar</button></td>
								<td><button id="btnCategoriaActualizar" type="button" class="btn btn-primary">Actualizar</button></td>
								<td><button id="btnCategoriaVer" type="button" class="btn btn-danger">Ver</button></td>
								<td><button id="btnCategoriaBorrar" type="button" class="btn btn-warning">Borrar</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<button id="btnHome" type="button" class="btn btn-success">Regresar</button>
		</div>
	
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>