<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<title>Sistema de Biblioteca</title>
	</head>
	<body>

		<div class="container">
			<h1 class="center">Sistema de Pr&eacute;stamo de Libros</h1>
			
			<div class="jumbotron">
				<p>Para el personal de la biblioteca, quien desea administrar los pr&eacute;stamos de libros, el sistema de pr&eacute;stamos de la biblioteca es una aplicaci&oacute;n web que beneficia a los usuarios a utilizar de forma m&aacute;s &aacute;gil el servicio de la biblioteca; a diferencia de otras bibliotecas con un sistema manual, nuestro producto implementa las tecnolog&iacute;as m&aacute;s actuales del mercado.
				</p>
			</div>

			<h2 class="center">Servicios</h2>
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr class="active">
							<td><button id="btnPrestamo" type="button" class="btn btn-success">Pr&eacute;stamo</button></td>
							<td><button id="btnRenovacion" type="button" class="btn btn-primary">Renovaci&oacute;n</button></td>
							<td><button id="btnDevolucion" type="button" class="btn btn-warning">Devoluci&oacute;n</button></td>
							<td><button id="btnHistorial" type="button" class="btn btn-danger">Historial</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>